<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Austria Travel Website</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="/mysite/">Austria Travel</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/mysite/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/mysite/activities/">Activities</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/mysite/culture/">Culture</a></li>
                        <li class="nav-item"><a class="nav-link" href="/mysite/cities/">Cities</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-15">
                    <h1 class="font-weight-light">A Country Filled with Art</h1>
                    <p>Here you can find the magic of inspiration.</p>
                </div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-80">
                        <div class="card-body">
                            <h2 class="card-title">History</h2>
                            <div><p>Austria looks back on a very eventful history. the partiality for indulgence, beauty, and cultivation have always been driving forces in the country’s past and present.</p></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Art</h2>
                            <div><p>Austria's beautiful landscapes, regions and cities are a source of inspiration for many artists including Wolfgang Mozart, Franz Schubert and Egon Schiele.</p></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-80">
                        <div class="card-body">
                            <h2 class="card-title">Food&Drinks</h2>
                            <div><p>Enjoy world-famous Vienna Sausage(Wienerwurst) and Schnitzel. Then, nicely finish your meal at a café with a sip of Vienna coffee and a bite of Sacher torte.</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Austria Travel 2022</p></div>
        </footer>
    </body>
</html>
